extends base

block content
  h2.heading-secondary.ma-bt-md ALL BOOKINGS

  if bookings.length
    table.data-table
      thead
        tr
          th User
          th Tours
          th Amount Paid
          th Date
          th Status
      tbody
        each booking in bookings
          tr
            td #{booking.user.name} (#{booking.user.email})
            td #{booking.tours.map(item => item.tour.name).join(', ')}
            td $#{booking.price.toFixed(2)}
            td #{booking.createdAt.toLocaleString('en-US')}
            td 
              if booking.status === 'paid'
                span(style='color:green') Paid
              else if booking.status === 'pending'
                span(style='color:orange') Pending
              else if booking.status === 'cancelled'
                span(style='color:red') Cancelled          
  else
    h2.heading-secondary.ma-bt-md No bookings found.
