extends base

block content
  h2.heading-secondary.ma-bt-md ALL BOOKINGS

  if bookings.length
    table.data-table
      thead
        tr
          th User
          th Email
          th Preview Image
          th Tour Name
          th No. of Guests
          th Paid Amount
          th Payment Date
      tbody
        each booking in bookings
          tr
            td= booking.user.name
            td= booking.user.email
            td 
              a(href=`/tour/${booking.tour.slug}`)
                img.data-image(src=`/img/tours/${booking.tour.imageCover}`, alt='Tour image')
            td 
              a(href=`/tour/${booking.tour.slug}`, style='color: inherit; text-decoration: none;')= booking.tour.name
            td= booking.groupSize
            td $#{booking.price.toFixed(2)}
            td= booking.createdAt.toLocaleString('en-US')

  else
    h2.heading-secondary.ma-bt-md No bookings found.
